{% extends 'home/base.html' %} {% load static %} {% block content %}
<div class="card">
  <img
    src="{% static 'logos/Automation with Ansible.jpg' %}"
    alt="Automation with Ansible"
  />
  <div class="card-content">
    <h3>Automation with Ansible</h3>
    <p>
      Automation with Ansible is based on a Technical Tool called Ansible for IT
      Automation. Ansible is a very easy to use IT Automation Configuration
      Management and Orchestration Software majorly used by DevOps and System
      Administrators. This tool is used to automate Application Deployments,
      Infrastructure Provisioning and whole Infrastructure environment for
      configuration and management with ease.
    </p>
    <h6>Yogesh Raheja</h6>
  </div>
</div>
<div class="card">
  <img
    src="{% static 'logos/Automation with Puppet.jpg' %}"
    alt="Automation with Puppet 5"
  />
  <div class="card-content">
    <h3>Automation with Puppet 5</h3>
    <p>
      This book is based on Puppet Version 5 which contains all the major
      concepts of Puppet Automation in a very straightforward and
      easy-to-understand way. We start by building a strong foundation to get
      familiar with Automation and Configuration Management. For this we have
      presented a simple case study to prove why Automation is a must in IT. The
      book talks about how to setup Puppet Master on CentOS and Ubuntu (two
      different Linux-based Operating Systems), Setup and configure Puppet
      Agents/Nodes, Puppet Certification Management, Puppet Architecture. Until
      this level, you will be in a position to install, configure, and run your
      own independent Puppet environment.
    </p>
    <h6>Yogesh Raheja, Dennis McCarthy</h6>
  </div>
</div>
<div class="card">
  <img
    src="{% static 'logos/Devops with AWS.jpg' %}"
    alt="Effective DevOps with AWS - Second Edition"
  />
  <div class="card-content">
    <h3>Effective DevOps with AWS - Second Edition</h3>
    <p>
      Effective DevOps with AWS, Second Edition will help you to understand how
      the most successful tech start-ups launch and scale their services on AWS,
      and will teach you how you can do the same. This book explains how to
      treat infrastructure as code, meaning you can bring resources online and
      offline as easily as you control your software. You will also build a
      continuous integration and continuous deployment pipeline to keep your app
      up to date. Once you have gotten to grips will all this, we'll move on to
      how to scale your applications to offer maximum performance to users even
      when traffic spikes, by using the latest technologies, such as containers.
    </p>
    <h6>Yogesh Raheja, Giuseppe Borgese, Nathaniel Felsen</h6>
  </div>
</div>
<div class="card">
  <img
    src="{% static 'logos/git.jpg' %}"
    alt="Ultimate Git and GitHub for Modern Software Development"
  />
  <div class="card-content">
    <h3>Ultimate Git and GitHub for Modern Software Development</h3>
    <p>
      Ultimate Git and GitHub for Modern Software Development is a comprehensive
      guide that empowers developers to harness the full potential of Git and
      GitHub for efficient version control and seamless collaboration. This book
      takes you on a journey through the fundamentals of Git, exploring its
      commands, branching strategies, and conflict resolution techniques. It
      then delves into the world of GitHub, teaching you how to create
      repositories, collaborate with teams, and contribute to open-source
      projects.
    </p>
    <h6>Pravin Mishra</h6>
  </div>
</div>
<div class="card">
  <img
    src="{% static 'logos/docker.jpg' %}"
    alt="Ultimate Docker for Cloud Native Applications
    "
  />
  <div class="card-content">
    <h3>Ultimate Docker for Cloud Native Applications</h3>
    <p>
      This book adopts a holistic approach to containerization, starting with
      essential concepts, Docker's intricacies, and then moving on to an
      exploration of core concepts and architecture. You will then move
      seamlessly through building and managing Docker images, navigating
      networking challenges, and mastering the art of persistent data
      management. Each chapter builds upon the last, ensuring a thorough grasp
      of Docker's intricacies.
    </p>
    <h6>Pravin Mishra</h6>
  </div>
</div>
<div class="card">
  <img
    src="{% static 'logos/linux.jpg' %}"
    alt="Ultimate Linux Network Security for Enterprises"
  />
  <div class="card-content">
    <h3>Ultimate Linux Network Security for Enterprises</h3>
    <p>
      The book provides a comprehensive exploration of Linux network security,
      equipping you with the skills and knowledge needed to defend against
      evolving cyber threats. Through hands-on exercises, real-world scenarios,
      and industry best practices, this book empowers you to fortify your
      organization’s networks with confidence. Discover practical insights and
      techniques that transcend theoretical knowledge, enabling you to apply
      effective cybersecurity strategies in your job role.
    </p>
    <h6>Pravin Mishra</h6>
  </div>
</div>
{% endblock %}
