{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    <div class="header">
        <img src="{% static 'logos/nyxacademy-logo.png' %}" alt="Project Logo">
    </div>
    <div class="logo">
        <img src="{% static 'logos/thinknyx-logo.png' %}" alt="Company Logo">
    </div>
    <div class="auth">
        <iframe src="https://dockerlint.thinknyx.com/" allowfullscreen></iframe>
        <div class="auth-box">
            <form method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            <p><a href="{% url 'account_signup' %}">Sign up</a></p>
            <p><a href="{% url 'account_reset_password' %}">Forgot Password?</a></p>
        </div>
        <iframe src="https://thinknyx.com/" allowfullscreen></iframe>
    </div>
    <div class="auth-links">
        <a href="https://www.youtube.com/@thinknyxtechnologies7446/playlists">ThinkNyx Youtube</a>
        <a href="https://www.udemy.com/user/thinknyx-technologies/">Udemy Courses</a>
    </div>
</body>

</html>
