{% extends 'home/base.html' %} {% block content %}
<div class="card">
  <img
    src="{% static 'logos/SaltStack.jpg' %}"
    alt="SaltStack for the absolute Beginners - Practical DevOps"
  />
  <div class="card-content">
    <h3>SaltStack for the absolute Beginners - Practical DevOps</h3>
    <p>
      This SaltStack course, designed for absolute beginners, introduces the
      basic fundamental blocks needed to get started with SaltStack. The course
      begins with an introduction to SaltStack and Salt’s key terminologies
      followed by real time SaltStack setup, In-depth Architecture, Salt
      Modules.
    </p>
    <h6>Yogesh Raheja, Thinknyx Technologies, Shruti Bhardwaj</h6>
  </div>
</div>
<div class="card">
  <img
    src="{% static 'logos/Open Tofu.jpg' %}"
    alt="Infrastructure Automation with OpenTofu – Hands-On DevOps"
  />
  <div class="card-content">
    <h3>Infrastructure Automation with OpenTofu – Hands-On DevOps</h3>
    <p>
      This Infrastructure Automation with OpenTofu course is designed for
      absolute beginners to experts looking to learn OpenTofu. It introduces the
      basic fundamental blocks needed to get started with OpenTofu. The course
      begins with an introduction to OpenTofu, explaining how it differs from
      Terraform, followed by real time OpenTofu setup, OpenTofu Configuration
      Language, Providers, Resources and OpenTofu Workflow.
    </p>
    <h6>Yogesh Raheja, Thinknyx Technologies, Shruti Deepthi Narayan</h6>
  </div>
</div>
<div class="card">
  <img
    src="{% static 'logos/AI Ecosystem.jpg' %}"
    alt="AI Ecosystem for the Absolute Beginners - Hands-On"
  />
  <div class="card-content">
    <h3>AI Ecosystem for the Absolute Beginners - Hands-On</h3>
    <p>
      The "AI Ecosystem for Absolute Beginners" course is designed to
      accommodate learners of all levels, from beginners to experienced
      professionals looking to explore the world of Artificial Intelligence.
      Acting as a foundational pillar, this course facilitates your journey into
      the AI ecosystem. Starting with the basics of AI, the course guides you
      through the lifecycle of AI applications and essential concepts. It also
      covers the basics of Machine Learning, Deep Learning, and Generative AI,
      supported by practical hands-on demos using AWS services such as
      Rekognition, Forecast, Comprehend, and Bedrock.
    </p>
    <h6>Yogesh Raheja, Thinknyx Technologies</h6>
  </div>
</div>
<div class="card">
  <img
    src="{% static 'logos/Prompt Engineering.jpg' %}"
    alt="Mastering Prompt Engineering for GenAI - Practical Workshop
    "
  />
  <div class="card-content">
    <h3>Mastering Prompt Engineering for GenAI - Practical Workshop</h3>
    <p>
      The "Mastering Prompt Engineering for GenAI - Practical Workshop" course
      is designed to accommodate learners of all levels, from beginners to
      experienced professionals looking to explore the world of GenAI with
      effective Prompt Engineering. This course serves as a foundational pillar
      in Effective Prompt Engineering for GenAI, enabling you to extract
      accurate and meaningful responses from AI systems.
    </p>
    <h6>Yogesh Raheja, Thinknyx Technologies</h6>
  </div>
</div>
<div class="card">
  <img
    src="{% static 'logos/Gen AI Essentials.jpg' %}"
    alt="Generative AI Essentials - Practical Use Cases"
  />
  <div class="card-content">
    <h3>Generative AI Essentials - Practical Use Cases</h3>
    <p>
      The "Generative AI Essentials - Practical Use Cases" course is tailored
      for learners of all levels, from beginners to seasoned professionals eager
      to explore the world of Generative AI through effective Prompt
      Engineering. This course serves as your gateway to mastering generative
      AI, offering essential concepts and practical, hands-on experience.
    </p>
    <h6>Yogesh Raheja, Thinknyx Technologies, Dheeraj Sain</h6>
  </div>
</div>
{% endblock %}
