{% extends 'home/base.html' %} {% load static %} {% block content %}
<div class="card">
  <img
    src="{% static 'logos/SaltStack.jpg' %}"
    alt="SaltStack for the absolute Beginners - Practical DevOps"
  />
  <div class="card-content">
    <h3>SaltStack for the absolute Beginners - Practical DevOps</h3>
    <p>
      This SaltStack course, designed for absolute beginners, introduces the
      basic fundamental blocks needed to get started with SaltStack. The course
      begins with an introduction to SaltStack and Salt’s key terminologies
      followed by real time SaltStack setup, In-depth Architecture, Salt
      Modules.
    </p>
    <h6>Yogesh Raheja, Thinknyx Technologies, Shruti Bhardwaj</h6>
  </div>
</div>
{% endblock %}
